[submodule "frontend"]
	path = frontend
	url = https://github.com/danieljemoore/NeuralNetworth-Frontend.git
[submodule "backend"]
	path = backend
	url = https://github.com/danieljemoore/NeuralNetworth-Backend.git
